@for $i from 0 through 5 {
  .p-a-#{$i} { padding: #{$i}rem };
  .p-l-#{$i} { padding-left: #{$i}rem };
  .p-r-#{$i} { padding-right: #{$i}rem };
  .p-b-#{$i} { padding-bottom: #{$i}rem };
  .p-t-#{$i} { padding-top: #{$i}rem };

  .m-a-#{$i} { margin: #{$i}rem };
  .m-l-#{$i} { margin-left: #{$i}rem };
  .m-r-#{$i} { margin-right: #{$i}rem };
  .m-b-#{$i} { margin-bottom: #{$i}rem };
  .m-t-#{$i} { margin-top: #{$i}rem };
}

#loading-div {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;

  img {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
  }
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.records-table {
  overflow: scroll;
  height: 60vh;
}

.text-area-counter {
  position: absolute;
  margin-top: 6rem;
  margin-left: 35.2%;
  opacity: .5;

}

.record-add-form, .category-add-form {

  textarea {
    resize: none;
    width: 95%;
    height: 100px;
    border: 1px solid #EEE;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  button {
    background: #2d7aff;
    border: none;
    color: white;
    height: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

input[type='text'] {
  height: 40px;
  background: none;
  border: none;

  &:hover, &:active, &:focus {
    background: #EEE;
  }
}

.table-line {
  height: 40px;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #EEE;


  button {
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    margin-top: 3px;
  }

  .btn {
    height: 40px;
    background: #db4848;
  }

  .delete-button, .delete-button-toogle {
    color: white;
    font-weight: normal;
    padding-top: .5rem;
    margin: auto;
  }

  .delete-button-toogle {
    padding: 0;

    span {
      width: 100%;
      height: 100%;
      padding-top: 0.5rem;
      display: block;
    }
  }

  .update-button {
    background: #4db44e;
  }
}

.toggle-delete-record {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;

  .delete-wrapper {
    text-align: center;
    background: white;
    position: relative;
    margin: auto;
    padding: 3rem;
    top: 40%;
    box-sizing: border-box;
  }
}

#form-category-add{
  input[type="text"] {
    width: 70%;
    box-sizing: border-box;
    padding-left: 1rem;
    border: 1px solid #eee;
  }
}