<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Mountain</title>
        <link rel="stylesheet" href="{{ asset('public/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/index.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/font-awesome/font-awesome.min.css') }}" />


        {% stylesheets 'public/css/pure/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('public/js/all.min.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
