{% extends 'base.html.twig' %}

{% block body %}

    <div id="loading-div" class="row middle-xs">
        <div class="col-xs-12 center">
            <img class="p-r-0" src="{{ asset('loading.gif') }}">
        </div>
    </div>

    <div class="row">
        <div class="record-add-form m-l-1 col-xs-5">
            {{ form_start(form, {'attr': {'id': 'form-add'}}) }}
                <div class="text-area-counter">
                    <span id="char-counter">0</span><span>/255</span>
                </div>
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <div class="category-add-form col-xs-5 m-t-1">
            {{ form_start(form2, {'attr': {'id': 'form-category-add'}}) }}
                {{ form_widget(form2) }}
            {{ form_end(form2) }}
        </div>
    </div>


    <div>
        <div class="row table-line middle-xs records-table-head">
            <span class="col-xs-1 center"><i class="fa fa-id-card-o m-r-1" aria-hidden="true"></i>Id</span>
            <span class="col-xs-1 center"><i class="fa fa-calendar m-r-1" aria-hidden="true"></i>Datum</span>
            <span class="col-xs-5 center"><i class="fa fa-align-left m-r-1" aria-hidden="true"></i>Obsah</span>
            <span class="col-xs-2 center"><i class="fa fa-align-left m-r-1" aria-hidden="true"></i>Kategorie</span>
            <span class="col-xs-2 center m-l-4"><i class="fa fa-cogs m-r-1" aria-hidden="true"></i>Akce</span>
        </div>

        <div class="records-table">
            {% for data in record %}
                {{ form_start(data.form) }}
                    <div class="row table-line middle-xs">
                        <span class="col-xs-1 center">{{ data.id }}</span>
                        <span class="col-xs-1 center">{{ data.date|date('d.m. Y') }}</span>

                        {{ form_widget(data.form.content,{'label':false,attr:{class:'col-xs-5', autocomplete:'off'}}) }}

                        <select class="col-xs-2 m-l-1">
                            {% for category in categories %}
                                <option id="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>

                        <a class="col-xs-1 m-l-4" href="{{ path('update', {'id': data.id}) }}">
                            {{ form_widget(data.form.submit,{'label':'Uložit', 'attr':{class:'update-button'}}) }}
                        </a>

                        <a class="col-xs-1 m-l-1 btn middle-xs delete-button-toogle center">
                            <span data-id-toggle="{{ data.id }}">Odstranit</span>
                        </a>

                        <div id="toggle-{{ data.id }}" class="toggle-delete-record">
                            <div class="col-xs-6 delete-wrapper row">
                                <span class="col-xs-12 m-b-1">Opravdu chcete odstranit zaznam?</span>
                                <a class="col-xs-4 m-l-1 btn middle-xs delete-button center" href="{{ path('delete', {'id': data.id}) }}">
                                    <span class="p-l-1 p-r-1">Odstranit</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{ form_end(data.form) }}
            {% endfor %}
        </div>
    </div>

{% endblock %}