.p-a-0 {
  padding: 0rem; }

.p-l-0 {
  padding-left: 0rem; }

.p-r-0 {
  padding-right: 0rem; }

.p-b-0 {
  padding-bottom: 0rem; }

.p-t-0 {
  padding-top: 0rem; }

.m-a-0 {
  margin: 0rem; }

.m-l-0 {
  margin-left: 0rem; }

.m-r-0 {
  margin-right: 0rem; }

.m-b-0 {
  margin-bottom: 0rem; }

.m-t-0 {
  margin-top: 0rem; }

.p-a-1 {
  padding: 1rem; }

.p-l-1 {
  padding-left: 1rem; }

.p-r-1 {
  padding-right: 1rem; }

.p-b-1 {
  padding-bottom: 1rem; }

.p-t-1 {
  padding-top: 1rem; }

.m-a-1 {
  margin: 1rem; }

.m-l-1 {
  margin-left: 1rem; }

.m-r-1 {
  margin-right: 1rem; }

.m-b-1 {
  margin-bottom: 1rem; }

.m-t-1 {
  margin-top: 1rem; }

.p-a-2 {
  padding: 2rem; }

.p-l-2 {
  padding-left: 2rem; }

.p-r-2 {
  padding-right: 2rem; }

.p-b-2 {
  padding-bottom: 2rem; }

.p-t-2 {
  padding-top: 2rem; }

.m-a-2 {
  margin: 2rem; }

.m-l-2 {
  margin-left: 2rem; }

.m-r-2 {
  margin-right: 2rem; }

.m-b-2 {
  margin-bottom: 2rem; }

.m-t-2 {
  margin-top: 2rem; }

.p-a-3 {
  padding: 3rem; }

.p-l-3 {
  padding-left: 3rem; }

.p-r-3 {
  padding-right: 3rem; }

.p-b-3 {
  padding-bottom: 3rem; }

.p-t-3 {
  padding-top: 3rem; }

.m-a-3 {
  margin: 3rem; }

.m-l-3 {
  margin-left: 3rem; }

.m-r-3 {
  margin-right: 3rem; }

.m-b-3 {
  margin-bottom: 3rem; }

.m-t-3 {
  margin-top: 3rem; }

.p-a-4 {
  padding: 4rem; }

.p-l-4 {
  padding-left: 4rem; }

.p-r-4 {
  padding-right: 4rem; }

.p-b-4 {
  padding-bottom: 4rem; }

.p-t-4 {
  padding-top: 4rem; }

.m-a-4 {
  margin: 4rem; }

.m-l-4 {
  margin-left: 4rem; }

.m-r-4 {
  margin-right: 4rem; }

.m-b-4 {
  margin-bottom: 4rem; }

.m-t-4 {
  margin-top: 4rem; }

.p-a-5 {
  padding: 5rem; }

.p-l-5 {
  padding-left: 5rem; }

.p-r-5 {
  padding-right: 5rem; }

.p-b-5 {
  padding-bottom: 5rem; }

.p-t-5 {
  padding-top: 5rem; }

.m-a-5 {
  margin: 5rem; }

.m-l-5 {
  margin-left: 5rem; }

.m-r-5 {
  margin-right: 5rem; }

.m-b-5 {
  margin-bottom: 5rem; }

.m-t-5 {
  margin-top: 5rem; }

#loading-div {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none; }
  #loading-div img {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.records-table {
  overflow: scroll;
  height: 60vh; }

.text-area-counter {
  position: absolute;
  margin-top: 6rem;
  margin-left: 35.2%;
  opacity: .5; }

.record-add-form textarea, .category-add-form textarea {
  resize: none;
  width: 95%;
  height: 100px;
  border: 1px solid #EEE;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.record-add-form button, .category-add-form button {
  background: #2d7aff;
  border: none;
  color: white;
  height: 40px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem; }

input[type='text'] {
  height: 40px;
  background: none;
  border: none; }
  input[type='text']:hover, input[type='text']:active, input[type='text']:focus {
    background: #EEE; }

.table-line {
  height: 40px;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #EEE; }
  .table-line button {
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    margin-top: 3px; }
  .table-line .btn {
    height: 40px;
    background: #db4848; }
  .table-line .delete-button, .table-line .delete-button-toogle {
    color: white;
    font-weight: normal;
    padding-top: .5rem;
    margin: auto; }
  .table-line .delete-button-toogle {
    padding: 0; }
    .table-line .delete-button-toogle span {
      width: 100%;
      height: 100%;
      padding-top: 0.5rem;
      display: block; }
  .table-line .update-button {
    background: #4db44e; }

.toggle-delete-record {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none; }
  .toggle-delete-record .delete-wrapper {
    text-align: center;
    background: white;
    position: relative;
    margin: auto;
    padding: 3rem;
    top: 40%;
    box-sizing: border-box; }

#form-category-add input[type="text"] {
  width: 70%;
  box-sizing: border-box;
  padding-left: 1rem;
  border: 1px solid #eee; }
